.collapse{
display: flex;
justify-content:end;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}
.banner-imag{
    width:300px;
    margin-top: 20px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto;
    gap:50px; 
    background-image: url('bg.jpg');
    color: rgb(26, 25, 25);
}
.banner-left{
    width:400px;
    line-height:1.5;
}
.type{
    display:flex;
    justify-content:center;
}
.contact-us{
    padding:15px;
    width:500px;
    text-align: center;
    
    margin:auto;
    box-shadow: 4px 4px 8px gray;
    margin-top:50px;
    
}
.input-box{
    padding:15px;
    width:50%;
    background-color: rgb(194, 198, 198);
    margin-top:10px;
    color: rgb(36, 39, 42);
}
.massage{
    width:60%;
    height:100px;
    margin-top:15px;
    background-color: rgb(224, 213, 213);
    text-align: center;
}
.submit-btn{
    width:70%;
    padding-top:15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgb(105, 194, 212);
    margin-top:20px;
    color:rgb(14, 12, 11);
    border:none;
    text-align: center;
}
.us{
    font-size:50px;
}
.bi{
color:rgb(101, 101, 197);
}
.title2{
    text-align: center;
    padding:50px;
}
.t1{
    color:rgb(0, 234, 255);
 
    
}

.name{
    color:rgb(0, 234, 255);
}
@media only screen and (min-width:400px) and (max-width:767px){
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.title1{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.title3{
    text-align: center;
}
.title5{
    text-align: center;
}
.title2{
    text-align: center;
    padding:50px;
}

}
@media only screen and (min-width:768px) and (max-width:992px){
    .banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .title1{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
}

